# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# pip build files
build/
dist/
*.egg-info/

# documentaion
doc/_build

# PyCharm IDE files
.idea/

# Tox environments
.tox/

# pytest
.pytest_cache

# DICOM standard (downloaded on demand)
dicom_validator/tests/fixtures/standard/
