default_language_version:
  python: "3.10"

repos:
  - repo: https://github.com/crate-ci/typos
    rev: typos-dict-v0.11.27
    hooks:
      - id: typos
        exclude: _*.xml
  - repo: https://github.com/psf/black
    rev: 24.8.0
    hooks:
      - id: black
        args: [ --safe, --quiet ]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.6.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: fix-encoding-pragma
        args: [ --remove ]
      - id: check-yaml
      - id: debug-statements
        language_version: python3
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.6.3
    hooks:
      - id: ruff
        args: [dicom_validator, --fix, --exit-non-zero-on-fix]
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.11.2
    hooks:
      - id: mypy
