[MESSAGES CONTROL]
# disable check C0111 for doc strings
disable=C0111

[FORMAT]
max-line-length=120

[BASIC]
good-names=setUp,setUpClass

# allow max method name length 40 instead of 30 (helpful for tests)
# method-rgx=[a-z_][a-z0-9_]{2,40}$

