[MESSAGES CONTROL]
# disable check C0111 for doc strings
disable=C0111

[FORMAT]
max-line-length=120

[BASIC]
good-names=setUp,setUpClass

# allow longer test method length
method-rgx=([a-z_][a-z0-9_]{2,30})|test_([a-z_][a-z0-9_]{2,40})$
