name: build-windows-exe

on:
  pull_request:
    # This workflow is to make sure that the Windows executables are built correctly.
    # The artifacts are for this pull request only.
    # The 'release' versions of artifacts are deployed from the release-deploy workflow.

jobs:

  deploy:
    runs-on: windows-latest
    strategy:
      fail-fast: true
      matrix:
        python-version: [ '3.10' ]

    steps:
    - uses: actions/checkout@v4

    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v4
      with:
        python-version: ${{ matrix.python-version }}

    - name: Build package
      run: |
        python -m pip install --upgrade pip
        python -m pip install -r requirements-dev.txt
        python -m build
        pyinstaller dicom-validator.spec -y

    - name: Archive artifacts
      uses: actions/upload-artifact@v4
      with:
        name: windows_exe
        path: dist/*.exe
    #
